    <!-- 此处展示书籍的详细信息 -->
    <div id="bookInfoPage">
        <div class="row py-3" th:if="${book != null}" >
            <!-- 书籍封面 -->
            <div class="col-sm-2 mb-3">
                <img th:src="@{${book.cover}}" class="img-fluid rounded" alt="Book Cover">
            </div>
            <!-- 书籍信息 -->
            <div class="col-sm-6">
                <h1>《<span th:text="@{${book.title}}"></span>》</h1>
                <h3>作者：<span th:text="@{${book.author}}"></span></h3>
                <h3>ISBN：<span th:text="@{${book.isbn}}"></span></h3>
                <h3>评分：<span id="bookRating" th:text="@{${book.averageRating}}"></span>/10</h3>
                <h5  style="font-style: italic;">已有<span th:text="@{${book.shelfCount}}"></span>人收藏本书</h5>
                <h5  style="font-style: italic;">已有<span th:text="@{${book.ratingCount}}"></span>人给本书打出了分数</h5>
            </div>
            <!--与书籍的交互组件-->
            <div class="col-4 text-right">
                <!-- 打分框 -->
                <div th:if="${session.user != null} ">
                    <div th:if="${userRating == 0}" class="row" >
                        <input type="number" class="form-control" id="rating" name="rating" min="0" max="9" required placeholder="输入评分：0到9分之间">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <!--只有登录后才可以打分-->
                        <div th:if="${session.user!=null}">
                            <div th:if="${userRating == 0 }">
                                <a th:href="${book.id}" class="btn btn-primary btn-block mt-2"  id="rateToBook">打分</a>
                            </div>
                            <div th:if="${userRating != 0}">
                                <a href="#" class="btn btn-light btn-block mt-2">您打了<span th:text="${userRating}"></span>分</a>
                            </div>
                        </div>
                        <div th:if="${session.user==null}">
                            <a th:href="${book.id}" class="btn btn-dark btn-block mt-2 loginRequest" >先登录吧</a>
                        </div>
                    </div>

                    <div class="col-6">
                        <!--只有登录后才可以收藏-->
                        <div th:if="${session.user!=null}">
                            <div th:if="${collected}">
                                <a href="#" class="btn btn-light btn-block mt-2">已收藏</a>
                            </div>
                            <div th:if="${!collected}">
                                <a href="#" class="btn btn-warning btn-block mt-2 collect" th:href="${book.id}">收藏</a>
                            </div>
                        </div>
                        <div th:if="${session.user==null}">
                            <a th:href="${book.id}" class="btn btn-dark btn-block mt-2 loginRequest" >先登录吧</a>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="btn btn-success btn-block mt-2">下载</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-danger btn-block mt-2">举报</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        // 提交对书籍的评分
        $(document).on('click', '#rateToBook', function (event) {
            event.preventDefault();
            // 将字符串转换为整数
            let bookId = $(this).attr('href');
            const ratingInput = document.getElementById('rating');
            const rating = ratingInput.value;
            if (rating == null || rating <= 0 || rating > 9){
                alert("请输入0到9之间的数字");
                return;
            }
            $.ajax({
                url: '/book/saveRating',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({bookId: bookId, rating: rating}),
                success: function (data) {
                    $.ajax({
                        url: '/book/getInfo/' + bookId,
                        type: 'GET',
                        success: function (data) {
                            showBookDetails(data);
                        }
                    })
                }
            })
        })
        $(document).on('click', '.loginRequest', function (event) {
            event.preventDefault();
            let bookId = $(this).attr('href');
            $('#loginModal').modal('show').on('hidden.bs.modal', function (e) {
                $.ajax({
                    url: '/book/getInfo/' + bookId,
                    type: 'GET',
                    success: function (data) {
                        showBookDetails(data);
                    }
                })
            });
        })

        $(document).on('click', '.collect', function (event) {
            event.preventDefault();
            let bookId = $(this).attr('href');
            $.ajax({
                url: '/book/collect/' + bookId,
                type: 'GET',
                success: function (data) {
                    $.ajax({
                        url: '/book/getInfo/' + bookId,
                        type: 'GET',
                        success: function (data) {
                            showBookDetails(data);
                        }
                    })
                }
            })
        })
    </script>

