<!-- 此处展示书籍的详细信息 -->
<div class="row py-3" th:if="${book != null}" th:fragment="bookDetails" id="bookDetails">
    <!-- 书籍封面 -->
    <div class="col-sm-2 mb-3">
            <img th:src="@{${book.cover}}" class="img-fluid rounded" alt="Book Cover">
    </div>
    <!-- 书籍信息 -->
    <div class="col-sm-6">
        <h1>《<span th:text="@{${book.title}}"></span>》</h1>
        <h3>作者：<span th:text="@{${book.author}}"></span></h3>
        <h3>ISBN：<span th:text="@{${book.isbn}}"></span></h3>
        <h3>评分：<span id="bookRating" th:text="@{${book.averageRating}}"></span>/10</h3>
        <h5  style="font-style: italic;">已有<span th:text="@{${book.shelfCount}}"></span>人收藏本书</h5>
        <h5  style="font-style: italic;">已有<span th:text="@{${book.ratingCount}}"></span>人给本书打出了分数</h5>
    </div>
    <!--与书籍的交互组件-->
    <div class="col-4 text-right">
        <div class="row">
            <div class="col-6">
                <!--只有登录后才可以收藏-->
                <div th:if="${session.user!=null}">
                    <a href="#" class="btn btn-info btn-block mt-2">收藏</a>
                </div>
                <div th:if="${session.user==null}">
                    <a th:href="@{book/toBookInfo/{id}(id=${book.id})}" class="btn btn-dark btn-block mt-2 loginRequest" >先登录吧</a>
                </div>
            </div>
            <div class="col-6">
                <!--只有登录后才可以打分-->
                <div th:if="${session.user!=null}">
                    <div th:if="${userRating ==null}">
                        <!--点击打分后，弹出拟态框-->
                        <a th:href="@{/book/toBookInfo/{id}(id=${book.id})}" class="btn btn-primary btn-block mt-2" data-target="#rateModal" data-toggle="modal" id="RateToBook">打分</a>
                    </div>
                    <div th:if="${userRating !=null}">
                        <a href="#" class="btn btn-light btn-block mt-2">您打了<span th:text="${userRating}"></span>分</a>
                    </div>
                </div>
                <div th:if="${session.user==null}">
                    <a th:href="@{/book/toBookInfo/{id}(id=${book.id})}" class="btn btn-dark btn-block mt-2 loginRequest" >先登录吧</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a href="#" class="btn btn-success btn-block mt-2">下载</a>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-danger btn-block mt-2">举报</a>
            </div>
        </div>
    </div>
</div>
<!--打分的拟态-->
<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rateModalLabel">打分</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/user/saveRating}" method="post" id="rateBookFrom">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <div class="form-group" >
                        <label for="rating">打分</label>
                        <input type="number" class="form-control" id="rating" name="rating" min="0" max="9" required placeholder="0到9分之间">
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>