<div class="row py-3">
  <!--评论区顶部栏-->
  <div class="col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2 class="d-inline">评论</h2>
      <span class="ml-3">最新</span>
      <span class="ml-3">最热</span>
    </div>
    <hr>
  </div>

  <!--评论输入框-->
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-1">
        <img src="https://example.com/user-avatar.jpg" class="img-fluid rounded" alt="Avatar">
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="发表评论...">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary">发送</button>
      </div>
    </div>
    <hr>
  </div>
  <!--评论区主体-->
  <div class="col-sm-12">
    <div class="row" th:each="comment : ${comments}">
      <!--用户头像-->
      <div class="col-sm-1">
        <img src="" class="avatar-img" alt="Avatar">
      </div>
      <div class="col-sm-11">
        <!-- 评论内容的头部 -->
        <div class="row">
          <div class="col-sm-3">
            <h3 th:text="${comment.userId}"></h3>
          </div>
          <!-- 评论交互区 -->
          <div class="col-sm-5 text-right">
            <!-- 回复图标 -->
            <div class="btn btn-info btn-sm"><i class="fas fa-reply">回复</i></div>
            <!-- 点赞图标 -->
            <div class="btn btn-info btn-sm"><i class="fas fa-thumbs-up"><span th:text="${comment.likes}"></span></i></div>
            <!-- 点踩图标 -->
            <div class="btn btn-info btn-sm"><i class="fas fa-thumbs-down"><span th:text="${comment.dislikes}"></span></i></div>
          </div>
          <div class="col-sm-3 text-right">
            <!-- 发送日期 -->
            <span class="comment-date" th:text="${comment.creationTime}"></span>
          </div>
          <div class="col-sm-1 text-right">
            <i class="fas fa-flag"></i>
          </div>
        </div>
        <!-- 评论内容的主体 -->
        <div class="row">
          <p th:text="${comment.context}"></p>
        </div>
        <hr>
        <!-- 回复区 -->
        <div class="row" th:if = "${comment.replies != null}" th:fragment="relies">
          <div th:each = "replie:${comment.replies}">
            <!-- 头像 -->
            <div class="col-sm-1">
              <img src="" class="responsive-avatar-img" alt="avatar">
            </div>
            <div class="col-sm-11">
              <!-- 回复内容的头部 -->
              <div class="row">
                <div class="col-sm-5">
                  <h4 th:text="${replie.userId}"></h4>
                </div>
                <!-- 评论交互区 -->
                <div class="col-sm-3 text-right">
                  <!-- 回复图标 -->
                  <div class="btn btn-info btn-sm"><i class="fas fa-reply">回复</i></div>
                  <!-- 点赞图标 -->
                  <div class="btn btn-info btn-sm"><i class="fas fa-thumbs-up"><span th:text="${comment.likes}"></span></i></div>
                  <!-- 点踩图标 -->
                  <div class="btn btn-info btn-sm"><i class="fas fa-thumbs-down"><span th:text="${comment.dislikes}"></span></i></div>
                </div>
                <div class="col-sm-3 text-right">
                  <span class="comment-date">2022年10月1日,10点30分</span>
                </div>
                <div class="col-sm-1 text-right">
                  <i class="fas fa-flag"></i>
                </div>
              </div>
              <!-- 评论内容的主体 -->
              <div class="row">
                <p th:text="${replie.context}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
