  <!-- 一个导航栏 -->
  <nav class="navbar navbar-expand-sm navbar-custom navbar-light" id="header">
    <a class="navbar-brand custom-logo" th:href="@{/index}">BookHub</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-search"></i>搜索</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-upload"></i>上传</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-trophy"></i>排行榜</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-info-circle"></i>关于</a>
      </li>
    </ul>


    <!-- 一行诗词 -->
    <div class="navbar-text ml-auto" id="gushici">
      红叶黄花秋意晚，千里念行客。
    </div>

    <!--用户交互组件-->
    <ul class="navbar-nav ml-auto" id="userCenter" th:fragment="userCenter">
      <!-- 如果用户已登录，显示用户头像和下拉菜单 -->
      <li class="nav-item dropdown" th:if="${session.user!=null}">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img th:src="@{${session.user.profilePicture}}" class="rounded-circle" style="width: 30px;height: 30px;">
          <span th:text="${session.user.username}"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#"><i class="fas fa-user"></i>个人中心</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cog"></i>设置</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>退出</a>
          <div th:replace="userDisplay/component/MessagePopover :: logoutModal"></div>
        </div>
      </li>
      <!-- 如果用户未登录，显示登录和注册链接 -->
      <li class="nav-item" th:unless="${session.user!=null}">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i>登录</a>
      </li>
      <li class="nav-item" th:unless="${session.user!=null}">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal"><i class="fas fa-user-plus"></i>注册</a>
      </li>
    </ul>
  </nav>
<script>
  // 注销
  $('#logout').click(function(event) {
    // 拦截
    event.preventDefault();
    let url = $(this).attr('href');
    $.ajax({
      url : url,
      method: 'POST',
      dataType: 'json',
      contentType: 'application/json',
      success: function(response) {
        // 处理退出成功的情况
        $('#logoutModal').modal('hide');
        reloadNav();
      },
      error: function(error) {
        // 处理退出失败的情况
        console.error('Logout failed:', error);
      }
    });
  });
</script>