<!--书籍展示-->
<div class="row" id="bookDisplay">
    <div class="col-sm-2 mb-3" th:each="book:${books}" id="aBook">
        <a th:href="${book.id}" class="getInfo">
            <div class="card shadow-lg" >
                <img class="card-img-top" th:src="@{${book.cover}}" alt="Book Cover" >
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="${book.title}"></h5>
                    <a th:href="${book.id}" class="btn btn-dark btn-sm btn-block showComments"><i class="fas fa-comment" ></i>评论 <span class="badge badge-light" th:text="${book.reviewsCount}"></span></a>
                </div>
            </div>
        </a>
    </div>
</div>

<!--一个拟态框窗口，窗口内显示的书籍详情的内容-->
<div class="modal fade" id="bookDetailModal" tabindex="-1" role="dialog" aria-labelledby="bookDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookDetailModalLabel">书籍详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="bookInfo" th:replace="userDisplay/component/BookDetails"></div>
            </div>
        </div>
    </div>
</div>
<!--一个拟态框窗口,显示评论区内-->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="bookDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >书籍评论</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="commentsSection"></div>
            </div>
        </div>
    </div>
</div>

<script>
    // 获取书籍详情信息
    $(".getInfo").click(function (event) {
        //    拦截当前
        event.preventDefault();
        let url = $(this).attr('href');
        $.ajax({
            url: '/book/getInfo/' + url,
            type: 'GET',
            success: function (data) {
                // 弹出一个拟态框
                showBookDetails(data);
            }
        })
    });
    // 渲染书籍详情页面
    function showBookDetails(data) {
        $.ajax({
            url: '/render/bookDetails',
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'POST',
            success: function (bookDetailHtml) {
                $('#bookInfoPage').replaceWith(bookDetailHtml)
                $('#bookDetailModal').modal('show');
            }
        })
    }

    // 获取到书籍下面的所有评论
    $(document).on('click', '.showComments', function (event) {
        event.preventDefault();
        let bookId = $(this).attr('href');
        $.ajax({
            url: '/comments/get/' + bookId,
            type: 'GET',
            success: function (data) {
                showComments(data);
            }
        })
    })

    // 渲染评论区
    function showComments() {
        $.ajax({
            url: '/render/commentsSection',
            type: 'GET',
            success: function (commentsHtml) {
                $('#commentsSection').replaceWith(commentsHtml);
                $('#commentsModal').modal('show');
            }
        })
    }


    var isLoadingBooks = false; // 标志位,用于控制是否正在加载书籍数据
    var currentPage = 2; // 记录已加载的书籍索引
    // 监听鼠标滚动事件
    $(window).scroll(function () {
        if (isLoadingBooks) {
            return;
        }
        // 当滚动到最底部的时候，加载更多的书籍
        if ($(document).height() - $(this).scrollTop() - $(this).height() < 50) {
            loadMoreBooks();
        }
    })
    function loadMoreBooks() {
        isLoadingBooks = true;
        $.ajax({
            url: '/getMoreBooks/'+currentPage,
            type: 'GET',
            success: function(data) {
                appendBooks(data);
                currentPage ++;
            }
        });
    }
    function appendBooks(data) {
        $.ajax({
            url: '/render/bookDisplay',
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'POST',
            success: function (booksHtml) {
                $('#bookDisplay').append(booksHtml);
                isLoadingBooks = false;
            }
        })
    }
</script>
