<!--检测model.addAttribute("errorMessage",result);是否为空-->
<div th:if="${param.errorMessage!=null}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong th:text="${param.errorMessage}">Error</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- 询问是否退出登录拟态 -->
<div class="modal fade" th:fragment="logoutModal" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">确认退出登录吗</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" id="logout" th:href="@{/user/logout}">确认</a>
            </div>
        </div>
    </div>
</div>

