<!-- 弹出一个打分的弹窗 使用bootstrap的拟态框-->
<div class="modal fade" id="ratingPopover" tabindex="-1" role="dialog" aria-labelledby="ratingPopoverLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingPopoverLabel">您认为该书值几分呢</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="rating">
                                <!--一分到九分中选择一个-->
                                <select class="form-control mt-2" id="ratingSelect">
                                    <option value="1">1分</option>
                                    <option value="2">2分</option>
                                    <option value="3">3分</option>
                                    <option value="4">4分</option>
                                    <option value="5">5分</option>
                                    <option value="6">6分</option>
                                    <option value="7">7分</option>
                                    <option value="8">8分</option>
                                    <option value="9">9分</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button"
                        class="btn btn-primary"
                        id="ratingSubmit"
                        th:data-book-id="${book.id}"
                        th:data-save-url="@{/user/saveRating}"
                >
                    提交
                </button>
            </div>
        </div>
    </div>
</div>
