<!-- 注册框 -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">注册</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/user/register}" method="post" id="registerForm">
                    <div class="form-group">
                        <label for="username_r">用户名</label>
                        <input type="text" class="form-control" id="username_r" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="email_r">邮箱</label>
                        <input type="email" class="form-control" id="email_r" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password_r">密码</label>
                        <input type="password" class="form-control" id="password_r" name="password" placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <label for="checkPassword">确认密码</label>
                        <input type="password" class="form-control" id="checkPassword" name="checkPassword" placeholder="Enter password">
                    </div>
                    <button type="submit" id="submitBtn" class="btn btn-primary">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$('#registerForm').submit(function (event) {
    event.preventDefault();
    let form = $(this);
    let url = form.attr('action');
    let username = form.find('input[name="username"]').val();
    let email = form.find('input[name="email"]').val();
    let password = form.find('input[name="password"]').val();
    let checkPassword = form.find('input[name="checkPassword"]').val();
    if (password !== checkPassword) {
        alert("两次密码不一致");
        return;
    }
    // 将表单数据封装到一个user对象中
    $.ajax({
        type: 'POST',
        url: url,
        data: JSON.stringify({username: username, email: email, password: password}),
        contentType: 'application/json;charset=utf-8',
        success: function (response) {
            $('#registerModal').modal('hide');
            $('#loginModal').modal('show');
            displaySuccess(response);
        },
        error: function (error) {
            alert(error.responseText);
        }
    })
})
    function displaySuccess(message) {
        $('#loginResult').text(message).addClass('alert alert-success');
        // 让这个框5秒后消失
        setTimeout(function() {
            $('#loginResult').removeClass('alert alert-success').text('');
        }, 3000);
    }
</script>
