<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <link rel="stylesheet" href="src/main/webapp/static/css/bootstrap_3.3.7.css">
    <script src="/static/js/jquery_2.1.1.js"></script>
    <script src="/static/js/bootstrap_3.3.7.js"></script>
</head>
<body>

<div class="container-fluid">

    <div class="row-fluid" th:replace="book/header :: header"></div>
    <!-- 一行排版 -->
    <div class="row-fluid">

        <div class="col-md-3">
            <!-- 导入横向导航栏 -->
            <div th:with="currentPage=${currentPage}">
                <div th:replace="book/navbar :: navbar"></div>
            </div>
        </div>

        <div class="col-md-9">
            <h2 class="text-center">书籍列表</h2>
            <!-- 表格数据 -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>格式</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.format}"></td>
                    <td><a th:href="@{'/books/toMod/' + ${book.id}}" class="btn btn-primary">修改</a>
                        /
                        <a th:href="@{'/books/del/'+${book.id}}" class="btn btn-danger">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:class="${currentPage == 1} ? 'disabled':''">
                        <a class="page-link" th:href="@{/books/list?page=(currentPage - 1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == page} ? 'active' : ''">
                        <a class="page-link" th:href="@{'/books/list?page=' + page}" th:text="${page}"></a>
                    </li>
                    <li th:class="${currentPage == totalPages} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{'/books/list?page=' + (currentPage + 1)}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>