<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EPUB.js + Hypothes.is Example</title>

  <script src="http://localhost:8081/javascript/jszip.min.js"></script>
  <script src="http://localhost:8081/javascript/epub.js"></script>
</head>
<body>
<div  id="bookReader">

  <script src="https://cdn.hypothes.is/hypothesis"></script>
  <!--引入css样式-->
  <link th:href="@{/static/css/epubReader.css}"  rel="stylesheet" type="text/css"/>
  <input type="hidden" id="bookUrl" th:value="${bookUrl}">
  <div id="navigation">
    <h1 id="title">...</h1>
    <image id="cover" width="150px"></image>
    <h2 id="author">...</h2>
    <ul id="toc"></ul>
  </div>
  <div id="main">
    <div id="viewer" ></div>
    <div id="pagination">
      <a id="prev" href="#prev" class="arrow">...</a>
      <a id="next" href="#next" class="arrow">...</a>
    </div>
  </div>

  <script>

    // Load the opf
    var params = URLSearchParams && new URLSearchParams(document.location.search.substring(1));
    var url = params && params.get("url") && decodeURIComponent(params.get("url"));

    const bookUrl = document.getElementById('bookUrl').value;

    // Load the opf

    var book = ePub(bookUrl);
    var rendition = book.renderTo("viewer", {
      flow: "paginated",
      ignoreClass: "annotator-hl"
    });

    // var hash = window.location.hash.slice(2);
    var loc = window.location.href.indexOf("?loc=");
    if (loc > -1) {
      var href =  window.location.href.slice(loc + 5);
      var hash = decodeURIComponent(href);
    }
    rendition.display(hash || undefined);


    var next = document.getElementById("next");
    next.addEventListener("click", function(e){
      window.scrollTo(0,0);
      rendition.next();
      e.preventDefault();
    }, false);

    var prev = document.getElementById("prev");
    prev.addEventListener("click", function(e){
      window.scrollTo(0,0);
      rendition.prev();
      e.preventDefault();
    }, false);

    rendition.on("rendered", function(section){
      var nextSection = section.next();
      var prevSection = section.prev();

      if(nextSection) {
        nextNav = book.navigation.get(nextSection.href);

        if(nextNav) {
          nextLabel = nextNav.label;
        } else {
          nextLabel = "下一页";
        }

        next.textContent = nextLabel + " »";
      } else {
        next.textContent = "";
      }

      if(prevSection) {
        prevNav = book.navigation.get(prevSection.href);

        if(prevNav) {
          prevLabel = prevNav.label;
        } else {
          prevLabel = "上一页";
        }

        prev.textContent = "« " + prevLabel;
      } else {
        prev.textContent = "";
      }

      var old = document.querySelectorAll('.active');
      Array.prototype.slice.call(old, 0).forEach(function (link) {
        link.classList.remove("active");
      })

      var active = document.querySelector('a[href="'+section.href+'"]');
      if (active) {
        active.classList.add("active");
      }
      // Add CFI fragment to the history
      history.pushState({}, '', "?loc=" + encodeURIComponent(section.href));
      // window.location.hash = "#/"+section.href
    });

    book.loaded.navigation.then(function(toc){
      var $nav = document.getElementById("toc"),
              docfrag = document.createDocumentFragment();

      toc.forEach(function(chapter, index) {
        var item = document.createElement("li");
        var link = document.createElement("a");
        link.id = "chap-" + chapter.id;
        link.textContent = chapter.label;
        link.href = chapter.href;
        item.appendChild(link);
        docfrag.appendChild(item);

        link.onclick = function(){
          var url = link.getAttribute("href");
          console.log(url)
          rendition.display(url);
          return false;
        };

      });

      $nav.appendChild(docfrag);


    });

    book.loaded.metadata.then(function(meta){
      var $title = document.getElementById("title");
      var $author = document.getElementById("author");
      var $cover = document.getElementById("cover");
      var $nav = document.getElementById('navigation');

      $title.textContent = meta.title;
      $author.textContent = meta.creator;
      if (book.archive) {
        book.archive.createUrl(book.cover)
                .then(function (url) {
                  $cover.src = url;
                })
      } else {
        $cover.src = book.cover;
      }

      if ($nav.offsetHeight + 60 < window.innerHeight) {
        $nav.classList.add("fixed");
      }

    });

    function checkForAnnotator(cb, w) {
      if (!w) {
        w = window;
      }
      setTimeout(function () {
        if (w && w.annotator) {
          cb();
        } else {
          checkForAnnotator(cb, w);
        }
      }, 100);
    }

    book.rendition.hooks.content.register(function(contents, view) {

      checkForAnnotator(function () {

        var annotator = contents.window.annotator;

        contents.window.addEventListener('scrolltorange', function (e) {
          var range = e.detail;
          var cfi = new ePub.CFI(range, contents.cfiBase).toString();
          if (cfi) {
            book.rendition.display(cfi);
          }
          e.preventDefault();
        });


        annotator.on("highlightClick", function (annotation) {
          console.log(annotation);
          window.annotator.show();
        })

        annotator.on("beforeAnnotationCreated", function (annotation) {
          console.log(annotation);
          window.annotator.show();
        })

      }, contents.window);

    });
  </script>
</div>


</body>
</html>
