<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.BookInfoMapper">

    <select id="selectAll" resultType="com.wang.model.BookInfo">
        SELECT * FROM bookInfo;
    </select>
    
    <select id="selectById" resultType="com.wang.model.BookInfo">
        SELECT * FROM bookinfo WHERE id = #{id}
    </select>
    
    <insert id="insertBook" parameterType="com.wang.model.BookInfo">
        INSERT INTO bookinfo ( title, author, format)
            VALUE ( #{title},#{author},#{format} )
    </insert>

    <delete id="deleteBook" parameterType="com.wang.model.BookInfo">
        DELETE FROM bookinfo WHERE id = #{id}
    </delete>

    <update id="modifyBook" parameterType="com.wang.model.BookInfo">
        UPDATE bookinfo
        SET title = #{title},author = #{author},format = #{format}
        WHERE id = #{id}
    </update>
</mapper>